<template name="allpredictions">
	<div start-justified start flex>
		<div class="tableTab">
			<strong>
				{{#with currUserRecord}}
          All Predictions
          <div class="padding-20">
            <select class="matchSelect">
                <option>Select One...</option>
              {{#each getMatchList}}
                <option value={{getCombinedVal}}>{{team1}} vs {{team2}}</option>
              {{/each}}
            </select>
          </div>
          <div class="padding-20">
            {{> singleView}}
          </div>
				{{else}}
					Not yet logged in, please login/register to proceed!	
				{{/with}}
			</strong>
		</div>
	</div>
</template>

<template name="singleView">
    <div class="padding-20">
      <div>
        <h3>Header Annotations</h3>
        <p>WR - Winner</p>
        <p>WT - Extra Time</p>
        <p>PT - Penalties</p>
        <p>&nbsp;</p>
      </div>
      <div layout horizontal>
        <div class="col-xs-6 border-1 font-size-18 wraptext">User</div>
        <div class="col-xs-2 border-1 font-size-18 wraptext">WR</div>
        <div class="col-xs-2 border-1 font-size-18 wraptext">ET</div>
        <div class="col-xs-2 border-1 font-size-18 wraptext">PT</div>
      </div>
      {{#each getAllPredictions}}
        <div layout horizontal>
          <div class="col-xs-6 border-1 font-size-16 wraptext">{{userEmail}}</div>
          <div class="col-xs-2 border-1 font-size-16 wraptext">{{winner}}</div>
          <div class="col-xs-2 border-1 font-size-16 wraptext">{{extraTime}}</div>
          <div class="col-xs-2 border-1 font-size-16 wraptext">{{penalties}}</div>
        </div>
      {{/each}}
    </div>
</template>