<template name="layout">
  <app-header reveals>
    <app-toolbar class="toolbar toolbar-primary">
      <div class="visible-md wide" layout horizontal>
        {{ > headerItems}}
      </div>
    </app-toolbar>
  </app-header>
  <app-drawer id="drawer" swipe-open></app-drawer>
  <sample-content size="10">
    <img src="/icons/background.png" />
    {{> yield}}
  </sample-content>
</template>

<template name="headerItems">
  <paper-item class="toolbar-item toolbar-item-top" style="z-index:1;" data-action="#">
    {{> loginButtons}}
  </paper-item>
  {{#if isLoggedIn}}
  <paper-item class="toolbar-item" data-action="myaccount">
    <a href="{{pathFor 'myaccount'}}" class="padding-right-20">My Account</a>
  </paper-item>
  <paper-item class="toolbar-item" data-action="predict">
    <a href="{{pathFor 'predict'}}" class="padding-right-20">Predict Now</a>
  </paper-item>
  <paper-item class="toolbar-item" data-action="allpredictions">
    <a href="{{pathFor 'allpredictions'}}" class="padding-right-20">Match Predictions</a>
  </paper-item>
  <paper-item class="toolbar-item" data-action="rankings">
    <a href="{{pathFor 'rankings'}}" class="padding-right-20">Rankings</a>
  </paper-item>
  {{/if}}
  <paper-item class="toolbar-item" data-action="rules">
    <a href="{{pathFor 'rules'}}" class="padding-right-20">Rules</a>
  </paper-item>
</template>