<template name="predict">
	<div start-justified start flex>
    <div class="tableTab">
      <strong>My Predictions</strong>
      <div class="padding-20">
        {{#each getMatchList}}
          <div>
            <a href="#" class={{applyMatchSelected}}>{{team1}} vs {{team2}}</a>
          </div>
        {{/each}}
      </div>
      <div class="padding-20">
        {{#with getCurrMatch}}          
          {{#with currPrediction}}
            {{#if isLocked}}
              <h3>You Predicted</h3>
              <p>Winner: {{winner}}</p>
              <p>Extra Time: {{extraTime}}</p>
              <p>Penalties: {{penalties}}</p>
            {{else}}
              {{#autoForm id="updatePredictionForm" doc=currPrediction collection="MyPredictions" type="update"}}
                {{> afQuickField name="winner" firstOption="(Select Something)" options=teamOptions}}
                {{> afQuickField name="extraTime" }}
                {{> afQuickField name="penalties" }}
                <button class="saveItemButton" type="submit">Update Prediction</button>
              {{/autoForm}}
            {{/if}}
          {{else}}
            {{#autoForm id="insertPredictionForm" collection="MyPredictions" type="insert"}}
              {{> afFieldInput name="team1" type="hidden" value=team1}}
              {{> afFieldInput name="team2" type="hidden" value=team2}}
              {{> afFieldInput name="userId" type="hidden" value=currentUser._id}}
              {{> afFieldInput name="userEmail" type="hidden" value=currUserEmail}}
              {{> afQuickField name="winner" firstOption="(Select One)" options=teamOptions}}
              {{> afQuickField name="extraTime" }}
              {{> afQuickField name="penalties" }}
              <button class="addItemButton" type="submit">Save Prediction</button>
            {{/autoForm}}
          {{/with}}
        {{else}}
          Please click on the match to register your predictions!   
        {{/with}}
      </div>
    </div>
	</div>
</template>