<template name="rankings">
  <div start-justified start flex>
    <div class="tableTab">
      {{#with currUserRecord}}
      <strong>Rankings</strong>
      <div class="padding-20">
        <div>
          <h3>Header Annotations</h3>
          <p>GSR3 - Group Stage Round 3</p>
          <p>KSQF - Knockout Stage</p>
          <p>QFTF - Quarter Finals till Finals</p>
          <p>TP - Total Points</p>
          <p>&nbsp;</p>
        </div>
        <div layout horizontal>
          <div class="col-xs-6 border-1 font-size-18 wraptext">
            <strong>Users</strong>
          </div>
          <div class="col-xs-2 border-1 font-size-18 wraptext">
            <strong class={{isHighlightR1}}>GSR3</strong>
          </div>
          <div class="col-xs-2 border-1 font-size-18 wraptext">
              <strong class={{isHighlightR2}}>KO</strong>
          </div>
          <div class="col-xs-2 border-1 font-size-18 wraptext">
              <strong class={{isHighlightR3}}>QFTF</strong>
          </div>
          <div class="col-xs-2 border-1 font-size-18 wraptext">
            <strong class={{isHighlightTotal}}>TP</strong>
          </div>
        </div>

        {{#each getResultsList}}
        <div layout horizontal class={{rowColor}}>
          <div class="col-xs-6 border-1 font-size-16 wraptext">{{userEmail}}</div>
          <div class="col-xs-2 border-1 font-size-16 wraptext {{isHighlightR1}}">{{r1Points}}</div>
          <div class="col-xs-2 border-1 font-size-16 wraptext {{isHighlightR2}}">{{r2Points}}</div>
          <div class="col-xs-2 border-1 font-size-16 wraptext {{isHighlightR3}}">{{r3Points}}</div>
          <div class="col-xs-2 border-1 font-size-16 wraptext {{isHighlightTotal}}">{{totalPoints}}</div>
        </div>
        {{/each}}
        <div class="border-1">&nbsp;</div>
      </div>
      {{else}}
      <strong>Not yet logged in, please login/register to proceed!</strong>
      {{/with}}
    </div>
  </div>
</template>