<template name="rules">
	<div start-justified start flex>
		<div class="tableTab">
			<strong>Basic Rules</strong>
			<div class="padding-20">
				<p>Your Predictions and points can be viewed under <strong>My Account</strong> link.</p>
				<p>&nbsp;</p>
				<p><strong>Predict Now</strong> link will be disabled by 5pm IST everyday.</p>
				<p><strong>Predict Now</strong> link will be enabled by 10am IST everyday.</p>
				<p>&nbsp;</p>
				<p>Predictions by all the users can be viewed under <strong>Match Predictions</strong> link.</p>
				<p>This link will be visible only once predictions are locked and cannot be udpated anymore. (5pm IST everyday)</p>
			</div>
			<strong>Points System</strong>
			<div class="padding-20">
				<p>Players will provide scoreline of the match under 'Predict Now' section</p>
				<p>Match Result match - 3 points</p>
				<p>Match scoreline exact match - 2 points bonus</p>
				<p>Match scoreline goal difference match - 1 points bonus</p>
			</div>
			<div class="padding-20">
				<p>Example:</p>
				<p>Sweden vs South Korea</p>
				<p>Actual result: 3-1</p>
			</div>
			<div class="padding-20">
				<p>Player1 predicts: 2-0</p>
				<p>Match Result matches - 3 points</p>
				<p>Match scoreline does not match - 0 points bonus</p>
				<p>Match scoreline goal difference matches - 1 points bonus</p>
				<p>Player1 Total Points - 4</p>
			</div>
			<div class="padding-20">
				<p>Player2 predicts: 1-0</p>
				<p>Match Result matches - 3 points</p>
				<p>Match scoreline does not match - 0 points bonus</p>
				<p>Match scoreline goal difference matches - 0 points bonus</p>
				<p>Player2 Total Points - 3</p>
			</div>
			<div class="padding-20">
				<p>Player3 predicts: 1-1 or 1-2</p>
				<p>Match Result matches - 0 points</p>
				<p>Match scoreline does not match - 0 points bonus</p>
				<p>Match scoreline goal difference matches - 0 points bonus</p>
				<p>Player2 Total Points - 0</p>
			</div>
		</div>
	</div>
</template>