<template name="rules">
	<div start-justified start flex>
		<div class="tableTab">
			<strong>Basic Rules</strong>
			<div class="padding-20">
				<p>Your Predictions and points can be viewed under <strong>My Account</strong> link.</p>
				<p>&nbsp;</p>
				<p><strong>Predict Now</strong> link will be disabled by 5pm IST everyday.</p>
				<p><strong>Predict Now</strong> link will be enabled by 10am IST everyday.</p>
				<p>&nbsp;</p>
				<p>Predictions by all the users can be viewed under <strong>Match Predictions</strong> link.</p>
				<p>This link will be visible only once predictions are locked and cannot be udpated anymore. (5pm IST everyday)</p>
			</div>
			<strong>Points System</strong>
			<div class="padding-20">
				<p>Players will provide scoreline of the match under 'Predict Now' section</p>
				<p>Point system - valid till end of Quarter Finals</p>
				<p>Predict correct Winner - 7 points</p>
				<p>Predict correctly match goes to Extra-Time or NOT - 2 points bonus, else -1 points.</p>
				<p>Select "Do not predict" option for Extra-Time -  no negative points</p>
				<p>Predict correctly match goes to Penalties or NOT - 3 points bonus, else -2 points.</p>
				<p>Select "Do not predict" option for Penalties - no negative points</p>
			</div>
		</div>
	</div>
</template>